*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    user-select: none;
    text-align: center;
}

:root{
    --bg-Color: #1e1e2e;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    --error-color: #ca4754;
    --accent-color: #abe9b3;
}


body{
    overflow: hidden;
    background-color: var(--bg-Color); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 3rem;
    border-top: 2.3rem solid var(--accent-color);
}

.logo{
    display: inline-block;
}

.metricsDiv, .restart{
    visibility: hidden;
}

.main{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer, .text, .replay, .input{
    margin: 1rem;
}

.lightning{
    fill: var(--accent-color);
    cursor: pointer;
}

.logo{
    cursor: pointer;
    color: var(--text-color);
    letter-spacing: -2px;
    font-size: 2.3rem;
}

.tab, a{
    text-decoration: none;
    color: var(--sub-color);
}

.text{
    font-size: 1.5rem;
    color: var(--sub-color);
    line-height: 2.3rem;
    font-weight: 800;
    word-spacing: .4rem;
    letter-spacing: 1px;
    word-wrap: break-word;
    width: 100%;
}

.timer{
    visibility: hidden;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin-bottom: .8rem;
    user-select: none;
}

.replay, .replay2{
    margin: 2rem;
    fill: var(--sub-color);
    cursor: pointer;
}

.replay:hover, .replay2:hover{
    fill: var(--accent-color);
}


.input{
    border: 1px solid red;
    background-color: transparent;
    outline: none;
    border: none;
    width: 1px;
    height: 1px;
}

.correct{
    color: var(--text-color);
}

.incorrect{
    color: red;
}

.metricsDiv{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row; 
   color: var(--sub-color);
}

.metricsDiv div{
    margin: 2rem;
}

.time, .wpm, .acc{
    color: var(--accent-color);
    font-size: 3rem;
    letter-spacing: 2px;
}

.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--sub-color);
}

#enter{
    background-color: var(--sub-color);
    padding: 4px;
    font-size: .8rem;
    color: var(--bg-Color);
    border: none;
    border-radius: 2px;
    grid-column: span 2;
}

.resultsPage{
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
}

.tabDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--sub-color);
}

.tab:hover{
    color: var(--accent-color);
}

.icon{
    visibility: visible;
    margin: 1vw;
}

.message{
    color: var(--sub-color);
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thing{
    width: 100vw;
}

.home{
    cursor: pointer;
    color: var(--text-color);
    letter-spacing: -2px;
    font-size: 2.3rem;
}




@media screen and (max-width: 800px) {
    .logo{
        display: none;
    }

    .topRow{
        padding: 1rem;
    }
    
    .time, .wpm, .acc{
        color: var(--accent-color);
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .tab{
        display: none;
    }

    .input{
        visibility: hidden;
    }
}
